In [1]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

In [2]:
crimeDF= pd.read_csv("crime.csv", encoding='windows-1254')
weatherDF = pd.read_csv("weather_data_long.csv")

In [3]:
del weatherDF['Time']
del weatherDF["WinSpeed"]
del weatherDF["Pressure"]
del weatherDF["Humidity"]
del weatherDF["Wind"]
del weatherDF["DewPoint"]
del weatherDF["WindGust"]
del weatherDF["Precip."]
del weatherDF["Condition"]

In [4]:
crimeDF["OCCURRENCE_DATE"] = pd.to_datetime(crimeDF["FIRST_OCCURRENCE_DATE"]).dt.date
crimeDF.rename(columns={'OCCURRENCE_DATE':'Date'},inplace =True)

In [5]:
del crimeDF["incident_id"]
del crimeDF["offense_id"]
del crimeDF["OFFENSE_CODE"]
del crimeDF["OFFENSE_CODE_EXTENSION"]
del crimeDF["FIRST_OCCURRENCE_DATE"]
del crimeDF["LAST_OCCURRENCE_DATE"]
del crimeDF["REPORTED_DATE"]
del crimeDF["VICTIM_COUNT"]
del crimeDF["GEO_X"]
del crimeDF["GEO_Y"]
del crimeDF["GEO_LON"]
del crimeDF["GEO_LAT"]
del crimeDF["DISTRICT_ID"]
del crimeDF["PRECINCT_ID"]
del crimeDF["NEIGHBORHOOD_ID"]
del crimeDF["IS_CRIME"]
del crimeDF["IS_TRAFFIC"]
del crimeDF["INCIDENT_ADDRESS"]

In [6]:
crimeDF['Date']= pd.to_datetime(crimeDF['Date'])
weatherDF['Date']= pd.to_datetime(weatherDF['Date'])

In [7]:
weatherDF= weatherDF.groupby(['Date']).mean()

In [8]:
mergeOnDate = pd.merge(crimeDF, weatherDF, how='outer',on='Date')
mergeOnDate=mergeOnDate.dropna(subset=['OFFENSE_TYPE_ID'])
mergeOnDate=mergeOnDate.dropna(subset=['Temperature'])
mergeOnDate['Temperature'] =mergeOnDate['Temperature'].astype('int')
display(mergeOnDate)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
0,criminal-mischief-other,public-disorder,2017-06-25,60
1,criminal-mischief-other,public-disorder,2017-06-25,60
2,criminal-mischief-other,public-disorder,2017-06-25,60
3,criminal-mischief-other,public-disorder,2017-06-25,60
4,criminal-mischief-other,public-disorder,2017-06-25,60
...,...,...,...,...
379047,fraud-by-use-of-computer,white-collar-crime,2019-01-14,29
379048,fraud-by-use-of-computer,white-collar-crime,2019-01-14,29
379049,pawn-broker-viol,all-other-crimes,2019-01-14,29
379050,outside-steal-recovered-veh,all-other-crimes,2019-01-14,29
379051,outside-steal-recovered-veh,all-other-crimes,2019-01-14,29

In [9]:
types ={'auto-theft': 'property',
        'robbery': 'property',
        'arson': 'property',
        'theft-from-motor-vehicle': 'property',
        'burglary': 'property',
        'larceny': 'property',
        'sexual-assault': 'person',
        'drug-alcohol':'society',
        'other-crimes-against-persons': 'person',
        'aggravated-assault': 'person',
        'murder': 'person',
        'white-collar-crime': 'society',
        'public-disorder': 'society',
        'all-other-crimes': 'other'}

In [10]:
mergeOnDate["OFFENSE_CATEGORY_ID"] = mergeOnDate["OFFENSE_CATEGORY_ID"].replace(types)
display(mergeOnDate)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
0,criminal-mischief-other,society,2017-06-25,60
1,criminal-mischief-other,society,2017-06-25,60
2,criminal-mischief-other,society,2017-06-25,60
3,criminal-mischief-other,society,2017-06-25,60
4,criminal-mischief-other,society,2017-06-25,60
...,...,...,...,...
379047,fraud-by-use-of-computer,society,2019-01-14,29
379048,fraud-by-use-of-computer,society,2019-01-14,29
379049,pawn-broker-viol,other,2019-01-14,29
379050,outside-steal-recovered-veh,other,2019-01-14,29
379051,outside-steal-recovered-veh,other,2019-01-14,29

In [11]:
hotDays = mergeOnDate[mergeOnDate['Temperature'] > 75]
mildDays = mergeOnDate[(mergeOnDate['Temperature'] >= 45) & (mergeOnDate['Temperature'] <= 75)]
coldDays = mergeOnDate[mergeOnDate['Temperature'] < 45]

numofweathercrimes = len(mergeOnDate.index)
print(numofweathercrimes)

228089

In [12]:
display(hotDays)
display(mildDays)
display(coldDays)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
347,criminal-mischief-other,society,2017-06-27,77
348,criminal-mischief-other,society,2017-06-27,77
349,criminal-mischief-other,society,2017-06-27,77
350,criminal-mischief-other,society,2017-06-27,77
351,criminal-mischief-other,society,2017-06-27,77
...,...,...,...,...
377513,theft-unauth-use-of-ftd,society,2018-07-02,78
377514,fraud-by-use-of-computer,society,2018-07-02,78
377515,fraud-by-use-of-computer,society,2018-07-02,78
377516,fraud-by-use-of-computer,society,2018-07-02,78
377517,outside-steal-recovered-veh,other,2018-07-02,78

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
0,criminal-mischief-other,society,2017-06-25,60
1,criminal-mischief-other,society,2017-06-25,60
2,criminal-mischief-other,society,2017-06-25,60
3,criminal-mischief-other,society,2017-06-25,60
4,criminal-mischief-other,society,2017-06-25,60
...,...,...,...,...
377019,theft-of-motor-vehicle,property,2018-04-08,54
377020,theft-of-motor-vehicle,property,2018-04-08,54
377021,drug-forgery-to-obtain,society,2018-04-08,54
377022,drug-forgery-to-obtain,society,2018-04-08,54
377023,outside-steal-recovered-veh,other,2018-04-08,54

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,Date,Temperature
2034,criminal-mischief-other,society,2017-04-01,35
2035,criminal-mischief-other,society,2017-04-01,35
2036,criminal-mischief-other,society,2017-04-01,35
2037,criminal-mischief-other,society,2017-04-01,35
2038,criminal-mischief-other,society,2017-04-01,35
...,...,...,...,...
379047,fraud-by-use-of-computer,society,2019-01-14,29
379048,fraud-by-use-of-computer,society,2019-01-14,29
379049,pawn-broker-viol,other,2019-01-14,29
379050,outside-steal-recovered-veh,other,2019-01-14,29
379051,outside-steal-recovered-veh,other,2019-01-14,29

In [13]:
crimetypes = mergeOnDate.groupby(["OFFENSE_CATEGORY_ID"]).size()
crimetypes.head(15)

OFFENSE_CATEGORY_ID
other        37218
person       29619
property    105089
society      56163
dtype: int64

In [14]:
hotTypes=hotDays.groupby(["OFFENSE_CATEGORY_ID"]).size()
hotTypes.head(15)

OFFENSE_CATEGORY_ID
other        3824
person       3392
property    11917
society      5977
dtype: int64

In [15]:
mildTypes =mildDays.groupby(["OFFENSE_CATEGORY_ID"]).size()
mildTypes.head(15)

OFFENSE_CATEGORY_ID
other       20179
person      16167
property    56670
society     30523
dtype: int64

In [16]:
coldTypes = coldDays.groupby(["OFFENSE_CATEGORY_ID"]).size()
coldTypes.head(15)

OFFENSE_CATEGORY_ID
other       13215
person      10060
property    36502
society     19663
dtype: int64

In [17]:
hotDaysProb = (hotTypes.div(crimetypes))*100
print("% of a crime category happening on a Hot day")
display(hotDaysProb)

% of a crime category happening on a Hot day

OFFENSE_CATEGORY_ID
other       10.274598
person      11.452108
property    11.339912
society     10.642238
dtype: float64

In [18]:
coldDaysProb = (coldTypes.div(crimetypes))*100
print("% of a crime category happening on a Cold day")
display(coldDaysProb)

% of a crime category happening on a Cold day

OFFENSE_CATEGORY_ID
other       35.507013
person      33.964685
property    34.734368
society     35.010594
dtype: float64

In [19]:
mildDaysProb = (mildTypes.div(crimetypes))*100
print("% of a crime category happening on a Mild day")
display(mildDaysProb)

% of a crime category happening on a Mild day

OFFENSE_CATEGORY_ID
other       54.218389
person      54.583207
property    53.925720
society     54.347168
dtype: float64

Property:theft, robbery,arson,burglary,auto-theft,larceny,theft-from-motor-vehicle
Person:aggravated-assault,murder,other-crimes-against persons, sexual assault, drug-alcohol
society: white-collar-crimes,public-disorder
Error: all other

In [20]:
crimeTypeSPPO = mergeOnDate.groupby('OFFENSE_CATEGORY_ID').size()
display(crimeTypeSPPO)

OFFENSE_CATEGORY_ID
other        37218
person       29619
property    105089
society      56163
dtype: int64

In [22]:
SPPOhot = hotDays.groupby('OFFENSE_CATEGORY_ID').size()
display(SPPOhot)

OFFENSE_CATEGORY_ID
other        3824
person       3392
property    11917
society      5977
dtype: int64

In [24]:
SPPOmild = mildDays.groupby('OFFENSE_CATEGORY_ID').size()
display(SPPOmild)

OFFENSE_CATEGORY_ID
other       20179
person      16167
property    56670
society     30523
dtype: int64

In [25]:
SPPOcold = coldDays.groupby('OFFENSE_CATEGORY_ID').size()
display(SPPOcold)

OFFENSE_CATEGORY_ID
other       13215
person      10060
property    36502
society     19663
dtype: int64